<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="main">
        <nav class="secondary">
            <div class="container-fluid">
                <div class="pull-left">
                    <a href="#">Yale School of Medicine</a>  <span class="pipe"></span> <a href="#">Institutional Planning &amp; Communications</a>
                </div>
                <div class="pull-right">
                    <div id="information-for-menu" class="dd-select">Information For <i class="fa fa-caret-down"></i></div>

                    <form id="header-search-expand">
                        <input type="checkbox" id="toggleSearch">
                        <label>Search </label>
                        <div class="search-field-container">
                            <input type="text" class="search-field">
                        </div>
                        <button class="search-field-submit" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <section class="page-header">
            <div class="container-fluid">
                <h1 class="title-section">Web Group</h1>
            </div>
        </section>
        <nav class="primary">
            <ul class="headings">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Site Building &amp; Editing</a></li>
                <li><a href="#">Applications</a></li>
                <li><a href="#">Tridion Support</a></li>
                <li><a href="#">Policies &amp; Guidelines</a></li>
            </ul>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row">
            <aside="col-lg-4">
                <nav class="list-group tiered-subnavigation">
                    <h3><a href="#" class="list-group-item">Applications</a></h3>
                    <ul>
                        <li><a href="#" class="list-group-item">Flyerboard</a></li>
                        <li><a href="#" class="list-group-item">Faculty Profile System</a></li>
                        <li><a href="#" class="list-group-item">News System</a></li>
                        <li><a href="#" class="list-group-item">Clinical Trials</a></li>
                        <li><a href="#" class="list-group-item">Resource Scheduler</a></li>
                        <li><a href="#" class="list-group-item">Event Calendar</a></li>
                        <li><a href="#" class="list-group-item">Form Builder</a></li>
                        <li><a href="#" class="list-group-item">Media Library</a></li>
                    </ul>
                </nav>

                <nav class="module-related-links module-primary">
                    <h3>Related Links</h3>
                    <ul>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                        <li><a href="#" class="external">YSM Institutional Planning &amp; Communications</a></li>
                    </ul>
                </nav>
                <div class="module-search module-primary">
                    <h3>Find a Person <i class="fa fa-search"></i></h3>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div><!-- /input-group -->
                </div>
                <div class="module-link module-secondary">
                    <a href="#">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        Publications
                    </a>
                </div>
            </aside>
            <article class="col-lg-8">
                <div class="accessibility-bar">
                    <ul class="pull-left share-menu">
                        <li><a href="#"><i class="fa fa-facebook"></i> share</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> tweet</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> email</a></li>
                        <li><a href="#"><i class="fa fa-print"></i> print</a></li>
                    </ul>
                    <ul class="pull-right text-size-control">
                        <li><a href="#">T-</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">T+</a></li>
                    </ul>
                </div>

                <section class="article-body">
                    <h4>Flyerboard</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et <a href="#">dolore magna aliqua</a>. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p><strong>Features include:</strong></p>
                    <ul>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                    </ul>
                    <p><strong>Administrators:</strong></p>
                    <ul>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>

    <footer class="main">
        <p>&copy; @DateTime.Now.Year</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>






<!-- 

    @RenderBody()
     article, aside, header, footer, main, nav, section
    
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    -->
